In [1]:
filename = "data/peak_areas_yw_hap1_wt.csv" #path to datafile

numCarbons = 16
name = "16:0 Palmitic acid"

In [2]:
#import necessary libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import os
matplotlib.rcParams['figure.dpi'] = 100
import helper
import molmass
from PIL import Image
from multiprocessing import Pool
import importlib
importlib.reload(helper)
import zipfile
from sklearn.metrics import r2_score
import seaborn as sb

def getISAEq(numCarbons):
    d = {16:helper.palmitateISA,14:helper.myristicISA,18:helper.stearicISA,20:helper.arachidonicISA,22:helper.dhaISA}
    return d[numCarbons]

In [3]:
func = getISAEq(numCarbons) #get relevant ISA equation

#load in data and organize
data = pd.read_csv(filename,index_col=[0,1])
samples = data.columns.values[1:]
print(samples)
data

['WT1_60H_84 Area' 'WT2_60H_90 Area' 'WT3_60H_92 Area']

                          Precursor Mz  WT1_60H_84 Area  WT2_60H_90 Area  \
Molecule Name      label
Asp                0        132.030232           260570           343018
                   1        133.033587            28688            46401
                   2        134.036941           121703           155371
                   3        135.040296            74015           101356
                   4        136.043651            36610            43449
NAA                0        174.040796          2951969          2773518
                   1        175.044151           611701           496967
                   2        176.047506         11352694         10558179
                   3        177.050861          1851031          1733510
                   4        178.054216          4286317          3870382
                   5        179.057571          2186001          1965152
                   6        180.060925           835492           703768
16:0 Palmitic acid 0        255.232954          2526652          2123345
                   1        265.266503           252369           189343
                   2        266.269858            70498            49567
                   3        267.273212           407744           237607
                   4        268.276567            74370            50896
                   5        269.279922           371036           286929
                   6        270.283277            76282            42543
                   7        271.286632           301722           128504
                   8        256.236309           419743           330058
                   9        257.239664            64160            47227
                   10       258.243019             7142             5916
                   11       259.246374            18347            13845
                   12       260.249729             5740             5815
                   13       261.253083            47955            35683
                   14       262.256438            22478            13311
                   15       263.259793           118733            89806
                   16       264.263148            42793            28343

                          WT3_60H_92 Area
Molecule Name      label
Asp                0               584643
                   1                64820
                   2               252762
                   3               154391
                   4                59645
NAA                0              2731776
                   1               549869
                   2             10220170
                   3              1602416
                   4              3658590
                   5              1945442
                   6               699502
16:0 Palmitic acid 0              1841743
                   1               273001
                   2                68376
                   3               340531
                   4                66392
                   5               384487
                   6                50273
                   7               145202
                   8               313524
                   9                43336
                   10                6971
                   11               21173
                   12               10984
                   13               64097
                   14               22586
                   15              153129
                   16               45175

In [4]:
#gather images for mzs of interest 
palmitateInds = []
for i in range(numCarbons + 1):
    for ind in data.index.values:
        if ind[0] == name and ind[1] == i:
            palmitateInds.append(ind)

productDf = data.loc[palmitateInds,samples]
for samp in samples:
    productDf[samp] = productDf[samp]/productDf[samp].sum()
productDf

                          WT1_60H_84 Area  WT2_60H_90 Area  WT3_60H_92 Area
Molecule Name      label
16:0 Palmitic acid 0             0.523359         0.577194         0.478253
                   1             0.052275         0.051470         0.070891
                   2             0.014603         0.013474         0.017755
                   3             0.084458         0.064589         0.088427
                   4             0.015405         0.013835         0.017240
                   5             0.076855         0.077997         0.099841
                   6             0.015801         0.011565         0.013055
                   7             0.062497         0.034932         0.037705
                   8             0.086944         0.089720         0.081414
                   9             0.013290         0.012838         0.011253
                   10            0.001479         0.001608         0.001810
                   11            0.003800         0.003764         0.005498
                   12            0.001189         0.001581         0.002852
                   13            0.009933         0.009700         0.016644
                   14            0.004656         0.003618         0.005865
                   15            0.024594         0.024412         0.039764
                   16            0.008864         0.007705         0.011731

In [5]:
c13ab = 0.011 #natural abundance
N = [(1-c13ab)**2,2*(1-c13ab)*c13ab,c13ab**2] #get expected labeling of precursor from natural abundance
T = [0,0,1] #set initial tracer labeling
outputDf = {}
for samp in samples:
    g,D,T_found,err,P_pred = helper.ISAFit(T,N,productDf[samp].values,func,list(range(len(productDf[samp].values))),.5)
    outputDf[samp] = {"g(t)":g,"X0":T_found[0],"X1":T_found[1],"X2":T_found[2],"SSE":err}
    for x in range(len(P_pred)):
        outputDf[samp]["P"+str(x)] = P_pred[x]
outputDf = pd.DataFrame.from_dict(outputDf,orient="index").transpose()
outputDf.to_csv(filename.replace(".csv","_ISA_result"))
outputDf

      WT1_60H_84 Area  WT2_60H_90 Area  WT3_60H_92 Area
g(t)         0.383518         0.321959         0.427797
X0           0.491172         0.478957         0.539116
X1           0.252022         0.262450         0.226337
X2           0.256805         0.258593         0.234547
SSE          0.011771         0.011719         0.013139
P0           0.517789         0.568955         0.482445
P1           0.097246         0.105000         0.095565
P2           0.022678         0.019780         0.032808
P3           0.029743         0.023425         0.044245
P4           0.046305         0.037203         0.062159
P5           0.058893         0.048570         0.070503
P6           0.063514         0.053463         0.068873
P7           0.057698         0.049578         0.056461
P8           0.045210         0.039477         0.040418
P9           0.030167         0.026767         0.024564
P10          0.017362         0.015584         0.013036
P11          0.008417         0.007644         0.005806
P12          0.003459         0.003160         0.002226
P13          0.001147         0.001055         0.000684
P14          0.000307         0.000281         0.000174
P15          0.000057         0.000052         0.000030
P16          0.000007         0.000006         0.000004